@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../fonts/GothicA1-Regular.ttf';

$font-stack: sans-serif;
$primary-color: #FFF;

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: #ececec;
}

.btn, .form-control {
  border-radius: 0.1rem;
}

.content {
  background-color: #f9f9f9;
  padding: 1.5em 1.5em .5em 1.5em;
}

.btn-primary {
  background-color: #3ac5aa;
  border-color: #3ac5aa;
}

@media screen and (min-width: 1300px) {
  .big-header {
    background-position-y: 30%;
  }
}